html{
    background: rgb(0,0,0);
    background: linear-gradient(135deg, rgba(0,0,0,1) 10%, rgba(101,15,31,1) 50%, rgba(31,31,31,1) 90%);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

   
}


.product{
    width: 300px;
    height: 300px;
    float: left;
    margin: 1%;
    border: 1px solid white;
    border-radius: 10%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    overflow: auto;
    flex-direction: column;
    transition: transform 0.3s ease;
}

body{
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.index{
    border: 2px solid black;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 5px;
    margin: 10px;
    background-color:rgb(255, 255, 255, 0.5) ;
    -webkit-text-stroke: 1px black; /* width and color */
    text-align: center;
}

.rand{

    -webkit-text-stroke: 1px black; /* width and color */
    margin-bottom: 25%;
    font-size: 400%;
   
}

.name{
    height: auto;
    display: block;
    font-weight: 900;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
    -webkit-text-stroke: 1px black; /* width and color */
}

.fname{
    

    font-size: 100%;
}

.lname{
    font-size: 175%;
}

.product:hover{

    transform: scale(0.95);
    border: 2px solid blue;
}